In [3]:
#Connection to MySQL

import mysql.connector 

try:
    db = mysql.connector.connect (

        host = "Darrens-Macbook-Air.local",
        user = "root",
        password = "Darren123",
        database = "DS"
    )

    cursor = db.cursor()

    print("Connection Successful!")

except:
    print("Unable to connect :(")

Connection Successful!

In [4]:
#Return counts

count1 = "SELECT COUNT(*) FROM airports;"

cursor.execute(count1)
result = cursor.fetchall()
for x in result:
    print("airports -> ", x)

count2 = "SELECT COUNT(*) FROM competitors;"

cursor.execute(count2)
result = cursor.fetchall()
for x in result:
    print("competitors -> ", x)

count3 = "SELECT COUNT(*) FROM long_range_aircraft;"

cursor.execute(count3)
result = cursor.fetchall()
for x in result:
    print("long_range_aircraft -> ", x)

count4 = "SELECT COUNT(*) FROM short_to_medium_range_aircraft;"

cursor.execute(count4)
result = cursor.fetchall()
for x in result:
    print("short_to_medium_range_aircraft -> ", x)

airports ->  (20,)
competitors ->  (12,)
long_range_aircraft ->  (16,)
short_to_medium_range_aircraft ->  (22,)

In [5]:
#For short range aircraft: narrowing down potential candidates by certain criteria that will best suit the airline

sql1 = "SELECT Manufacturer, Model, Seating, Price, Country FROM short_to_medium_range_aircraft WHERE flyrange > 2850 AND Seating > 185 ORDER BY Price DESC;"

cursor.execute(sql1)
result = cursor.fetchall()
for x in result:
    print(x)

('Boeing', '737 MAX 10', 230, 134.9, 'US')
('Airbus', 'A321neo', 232, 129.5, 'EU')
('Boeing', '737 MAX 9', 220, 128.9, 'US')
('Boeing', '737 MAX 8', 200, 124.6, 'US')
('Airbus', 'A321', 230, 118.3, 'EU')
('Boeing', '737-900ER', 210, 112.6, 'US')
('Airbus', 'A320neo', 195, 110.6, 'EU')
('Airbus', 'A320', 190, 101.0, 'EU')

In [6]:
#For long-range-aircraft: narrowing down potential candidates by certain criteria that will best suit the airline

sql2 = "SELECT Manufacturer, Model, Seating, Price, Country FROM long_range_aircraft WHERE flyrange > 7200 AND Seating > 300 ORDER BY PRICE DESC;"

cursor.execute(sql2)
result = cursor.fetchall()
for x in result:
    print(x)

('Airbus', 'A380', 853, 445.6, 'EU')
('Boeing', '777-9X', 426, 442.2, 'US')
('Boeing', '747-8i', 605, 418.4, 'US')
('Boeing', '777-8X', 384, 410.2, 'US')
('Boeing', '777-300ER', 550, 375.5, 'US')
('Airbus', 'A350-1000', 480, 366.5, 'EU')
('Boeing', '777-200LR', 440, 349.6, 'US')
('Airbus', 'A350-900', 440, 317.4, 'EU')
('Boeing', '787-9', 406, 292.5, 'US')
('Boeing', '787-8', 359, 248.3, 'US')

In [7]:
#For short-rangen aircraft: from the short-listed candidates, examine and narrow down even further. The airline's short-range aircraft will be chosen from the result

sql3 = "SELECT Manufacturer, Model, Ordered, Price, flyrange, Seating, MTOW, takeoffdis, Ceiling, Wingspan, Country FROM short_to_medium_range_aircraft WHERE MTOW > (SELECT AVG(MTOW) FROM short_to_medium_range_aircraft) AND Age < 10 AND flyrange > 2850 AND Seating > 185 ORDER BY Ordered DESC;"

#The finalists, two from Airbus and two from Boeing. The airline will make a choice from the results.

sql4 = "SELECT Manufacturer, Model, Price FROM short_to_medium_range_aircraft WHERE MTOW > (SELECT AVG(MTOW) FROM short_to_medium_range_aircraft) AND Age < 10 AND flyrange > 2850 AND Seating > 185 ORDER BY Manufacturer LIMIT 4;"

cursor.execute(sql3)
result = cursor.fetchall()
for x in result:
    print(x)

print("")

cursor.execute(sql4)
result = cursor.fetchall()
for x in result:
    print(x)

('Airbus', 'A320neo', 3857, 110.6, 3500, 195, 174200, 6400, 39800, 117, 'EU')
('Airbus', 'A321neo', 3437, 129.5, 4000, 232, 213800, 6522, 39800, 117, 'EU')
('Boeing', '737 MAX 8', 2135, 124.6, 3550, 200, 181200, 8300, 41000, 117, 'US')
('Boeing', '737 MAX 10', 483, 134.9, 3300, 230, 197900, 8700, 41000, 117, 'US')
('Boeing', '737 MAX 9', 234, 128.9, 3550, 220, 194700, 8500, 41000, 117, 'US')

('Airbus', 'A320neo', 110.6)
('Airbus', 'A321neo', 129.5)
('Boeing', '737 MAX 8', 124.6)
('Boeing', '737 MAX 9', 128.9)

In [8]:
#For long-range aircraft: from the short-listed candidates, examine and narrow down even further. The airline's long-range aircraft will be chosen from the result

sql5 = "SELECT Manufacturer, Model, Ordered, Price, flyrange, Seating, MTOW, Ceiling, Wingspan, Country FROM long_range_aircraft WHERE flyrange > 7250 AND Seating > 350 AND Age <= 15 AND MTOW > (SELECT MAX(MTOW) - AVG(MTOW) FROM long_range_aircraft) ORDER BY Price DESC;"

#The finalists, two from Airbus and two from Boeing. The airline will make a choice from the results.

sql6 = "SELECT Manufacturer, Model, Price FROM long_range_aircraft WHERE flyrange > 7250 AND Seating > 350 AND Age <= 15 AND MTOW > (SELECT MAX(MTOW) - AVG(MTOW) FROM long_range_aircraft) AND Ordered > 100 ORDER BY Manufacturer LIMIT 4;"


cursor.execute(sql5)
result = cursor.fetchall()
for x in result:
    print(x)

print("")

cursor.execute(sql6)
result = cursor.fetchall()
for x in result:
    print(x)

('Boeing', '777-9X', 312, 442.2, 7285, 426, 775000, 43100, 235, 'US')
('Boeing', '747-8i', 155, 418.4, 7730, 605, 987000, 43100, 224, 'US')
('Boeing', '777-8X', 8, 410.2, 8730, 384, 775000, 43100, 235, 'US')
('Airbus', 'A350-1000', 168, 366.5, 8700, 480, 696661, 41450, 212, 'EU')
('Airbus', 'A350-900', 745, 317.4, 8100, 440, 617295, 43100, 212, 'EU')

('Airbus', 'A350-900', 317.4)
('Airbus', 'A350-1000', 366.5)
('Boeing', '747-8i', 418.4)
('Boeing', '777-9X', 442.2)

In [9]:
#The airline has the following choices:

short_range = ['A320neo', 'A321neo', '737 MAX 8', '737 MAX 9']
long_range = ['A350-900', 'A350-1000', '747-8i', '777-9X']

print("For short-range aircraft: ", short_range)
print("For long-range aircraft: ", long_range)

For short-range aircraft:  ['A320neo', 'A321neo', '737 MAX 8', '737 MAX 9']
For long-range aircraft:  ['A350-900', 'A350-1000', '747-8i', '777-9X']

In [10]:
#Now the airline needs a hub/base to operate out of, taking into consideration competitors and their current hubs/bases

#Let's narrow down the airports down to runways available and passenger traffic

sql7 = "SELECT aptname, ICAO, state, city FROM airports WHERE yr2019 > (SELECT AVG(yr2019) FROM airports) AND yr2018 > (SELECT AVG(yr2018) FROM airports) AND yr2017 > (SELECT AVG(yr2017) FROM airports) AND runways >= 2 ORDER BY yr2019 DESC"

cursor.execute(sql7)
result = cursor.fetchall()
for x in result:
    print(x)

print("")

#Lets see where the airline's competitors are based, we are targeting competitors with fleet sizes of greater than 100 planes

sql8 = "SELECT a.aptname, a.city, a.state, a.ICAO, c.airline, c.fleetsize FROM airports a, competitors c WHERE a.ICAO = c.Hub AND fleetsize > 100 ORDER BY yr2019 DESC;"

cursor.execute(sql8)
result = cursor.fetchall()
for x in result:
    print(x)

print("")

#Examining further to see if any competitors are based in the airports given in the previous query
sql9 = "SELECT a.aptname, a.ICAO, a.state, a.city, c.airline FROM airports a, competitors c WHERE a.ICAO = c.Hub AND yr2019 > (SELECT AVG(yr2019) FROM airports) AND yr2018 > (SELECT AVG(yr2018) FROM airports) AND yr2017 > (SELECT AVG(yr2017) FROM airports) ORDER BY yr2019 DESC;"

cursor.execute(sql9)
result = cursor.fetchall()
for x in result:
    print(x)

#Upon inspection, the airport that is not currently a hub for airlines with fleetsizes greater than 100 planes (the list in sql7) is KLAX - Los Angeles International Airport (LAX). Based on competitors' airport hubs, the airline's main competitors are Delta, United and Frontier Airlines.

print("")

#Based on airport numbers, we will select KLAX - Los Angeles International Airport (LAX) as the airline's hub/base.
line = "For airport: {}"
airport = {"Los Angeles International Airport (KLAX), Los Angeles, California, USA"}
print(line.format(airport))

('Hartsfield-Jackson International Airport ', 'KATL', 'GA', 'Atlanta')
('Los Angeles International Airport', 'KLAX', 'CA', 'Los Angeles')
("O'Hare International Airport", 'KORD', 'IL', 'Chicago')
('Denver International Airport', 'KDEN', 'CO', 'Denver')

('Hartsfield-Jackson International Airport ', 'Atlanta', 'GA', 'KATL', 'Delta Airlines', 750)
("O'Hare International Airport", 'Chicago', 'IL', 'KORD', 'United Airlines', 827)
('Dallas/Fort Worth International Airport', 'Dallas', 'TX', 'KDFW', 'American Airlines', 884)
('Denver International Airport', 'Denver', 'CO', 'KDEN', 'Frontier Airlines', 104)
('John F.Kennedy International Airport', 'New York City', 'NY', 'KJFK', 'JetBlue Airways', 270)
('Seattle-Tacoma International Airport', 'Seattle', 'WA', 'KSEA', 'Alaska Airlines', 319)
('McCarran International Airport', 'Las Vegas', 'NV', 'KLAS', 'Allegiant Air', 107)

('Hartsfield-Jackson International Airport ', 'KATL', 'GA', 'Atlanta', 'Delta Airlines')
("O'Hare International Airport", 'KORD', 'IL', 'Chicago', 'United Airlines')
('Denver International Airport', 'KDEN', 'CO', 'Denver', 'Frontier Airlines')

For airport: {'Los Angeles International Airport (KLAX), Los Angeles, California, USA'}

In [11]:
#After determining Delta, United and Frontier Airline as the airline's main competitors based purely on their hubs/bases, lets see if there are any other competitors worth adding to the list -> final main competitors for the airline

sql10 = "SELECT c.airline, a.aptname, a.city, a.state, c.fleetsize FROM competitors c, airports a WHERE c.Hub = a.ICAO AND fleetsize > 200 AND airline NOT IN ('Delta Airlines', 'United Airlines', 'Frontier Airlines') ORDER BY fleetsize DESC;"

cursor.execute(sql10)
result = cursor.fetchall()
for x in result:
    print(x)

print("")

#There are a couple of big airlines that have been previously omitted. Now the airline's competitors in the market:

competitors = ["Delta Airlines - KATL", "United Airlines - KORD", "Frontier Airlines - KDEN", "American Airlines - KDFW", "Alaska Airlines - KSEA", "JetBlue Airways - KJFK"]

competitors.sort(reverse = False)
print("For competitors: ")
print("")
for i in competitors:
    print("> ",i)
    print("")

('American Airlines', 'Dallas/Fort Worth International Airport', 'Dallas', 'TX', 884)
('Alaska Airlines', 'Seattle-Tacoma International Airport', 'Seattle', 'WA', 319)
('JetBlue Airways', 'John F.Kennedy International Airport', 'New York City', 'NY', 270)

For competitors:

>  Alaska Airlines - KSEA

>  American Airlines - KDFW

>  Delta Airlines - KATL

>  Frontier Airlines - KDEN

>  JetBlue Airways - KJFK

>  United Airlines - KORD

In [12]:
#Close connection to MySQL

try:
    db.close()

    print("Connection successfully disconnected")

except:
    print("Connection still active")

Connection successfully disconnected